<!DOCTYPE html>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>California Wine</title>

    <!-- Custom Fonts -->
    <link href="/static/style.css" rel="stylesheet" type="text/css">

<body class ="home-page">
			<!-- <header id="masthead" class="site-header" role="banner"> -->

		<div class = "container-fluid headerinder">
			<div class = "container1" id="mainmenu">
<!-- 			<div class="site-branding"> -->

				<div class = "row">
		  			<div class="navbar-header">
		  				<button type="button" class = "navbar-toggle collapsed" data-toggle="collapse"
		  				data-target=".navbar-collapse">
		  					<span class = "sr-only"> Toggle Navigation </span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>


		  				</button>
		  				<div class = "desktop-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  				</div>
		  			</div>
  			<!-- style="height:1px;" -->
		  			<div class="navbar-collapse collapse" >
		  				<ul class = "nav navbar-nav mainnav">
			  				<li><a href="/about">About Us</a></li>
							<li><a href="/winery">Winery</a></li>
			  				<li><a href="/still_wine">Still Wines</a></li>
			  				<li><a href="/sparkling">Sparkling Program</a></li>
			  				<li><a href="/contact">Contact Us</a></li>
			  				<li><a href="/news">What's New</a></li>
			  				<li><a href="/purchase">Buy Our Wine</a></li>

		  				</ul>

		  			</div>

		  			<div class = "mobile-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  			</div>

  				</div>



			</div>

		<div class = "brandscouter" >
				<div class = "wrapper">
					<div class = "row">
						<div class = "col-md-12">
						    <ul class = "col-md-1 col-xs-6"> 
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/business"> Our Business </a> </li> 
								<li> <a href="/team">Our Team</a> </li>
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/winery"> Our Winery </a> </li>
								<li> <a href="/ice_house"> About the Ice House </a></li>

							</ul>
							<ul class = "col-md-3 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/sparkling"> Our Sparkling Wine </a> </li>
								<li> <a href="/champenoise"> Méthode Champenoise </a></li>
								<li> <a href="/serendipity"> Serendipity Sparkling Wine </a></li>
							</ul>

							<ul class = "col-md-4 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/news"> What's New </a> </li>
								<li> <a href="/event"> Event Calendar </a></li>
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/still_wine"> Still Wines </a> </li>
								<li> <a href="/sparkling"> Sparkling Wines </a></li>
							</ul>


						</div>

					</div>

				</div>
		</div>



		</div>
	<div id = "page" class = "site">
		<!-- <div id = "content" class="site-content"> -->
			<div class = "row pagesubnav">
				<div class = "col-md-12">
					<ul>
								<li> <a href="/sparkling"> Our Sparkling Wine </a> </li>
								<li> <a href="/champenoise"> Méthode Champenoise </a></li>
								<li> <a href="/serendipity"> Serendipity Sparkling Wine </a></li>

					</ul>

				</div>

			</div>
		<!-- </div> -->
		<div id="content" class="site-content">
			<div id = "summary">
				<img src="/static/img/IMG_2430.jpg" width="800px" height="600px" alt= "Our Winery" itemprop="image" scale="1">
				
				<h1>Styles of Sparkling Wine</h1>

				<h2>Charmat Method: </h2>
				The wine is transferred from its primary fermentation vat to a large sealed, pressurized tank where it undergoes secondary fermentation to create the carbonation.  Fresh yeast and a sugar mixture are added to the wine, stimulating fermentation in this pressurized environment.  The wine is then cooled, clarified and bottled using a counter-pressure filler.  

				This method takes less time and requires less labor, allowing winemakers to get their product to market and cutting costs.  Tanks can be large enough to produce 100,000 bottles at a time.  Sparking wines made this way tend to be less complex, and have larger, shorter-lived bubbles.

				<h2>Méthode Champenoise:</h2> 
				This traditional method produces what we believe to be a high-quality sparkling wine.  The Chardonnay grapes are harvested at 18 brix.  This allows the winemaker to create a still wine that is high in acid, low in pH and sugar, lowering the alcohol level during the primary fermentation process.

				Once the still wine or “cuvée” is created, it is then bottled and topped with a small mixture of wine, sugar and yeast, called “liqueur de tirage,” then each individual bottle is sealed.  These bottles are returned to the cellar and the secondary fermentation process begins.  It is during the secondary fermentation that the yeast breaks down the sugar, converting it to alcohol and carbon dioxide, the “bubbles.”

				The bottles are kept in the cellar for a minimum of 18 months, during which time they are regularly moved and rotated, a process known as “riddling.”  It is this aging process that has a significant effect on both the taste of the wine and the quality of the bubbles.

				By the end of the riddling process, the remaining dead yeast cells, or “lees,” clump and fall to the bottom of the bottle’s neck as it is positioned with the bottom tilted upwards.  The clump of dead yeast cells is disgorged, forcing it and a small amount of wine to be dislodged from the bottle.  A mixture of fresh wine and sugar, called “dosage” is carefully selected and added to each bottle to refill the amount that has been disgorged.

				Each bottle is sealed with a compressed mushroom cork and wire cage to protect the contents.  Because the carbon dioxide creates a high pressure within the wine bottle, wine producers package the wine in stronger glass bottles.  These bottles are then returned to the cellar to complete the “aging” process before being shipped.

			</div>

		</div>
	</div>


	<footer id="footer" class="site-footer" role="contentinfo" itemscope>
			<div id="tertiary" class = "widget-area widget-area--footer" role="complementary" itemscope>
				<div class="block-grid block-grid-3">
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href = "/contact"> Contact Info </a> </h4>
						<div class="textwidget">
				<!-- 			<p> -->
								Phone: +1 (209) 727-0396<br>
								Fax: +1 (209) 727-0391<br>
								<a href = "/team"> Robert Indelicato </a> <br>
								<a href="mailto:robert@californiawineclassics.com">robert@californiawineclassics.com </a><br>
								<a href = "/leslie"> Leslie Bloudoff </a><br>
								<a href="mailto:leslie@californiawineclassics.com">leslie@californiawineclassics.com </a><br>

<!-- 							</p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/winery" > Location </a> </h4>
						<div class="textwidget">
							<!-- <p> -->
								27 Locust Street  <br>
								Lodi, CA 95240<br>
								USA<br>
							<!-- </p> -->
						</div>
						<h4 class="widget-title"> Hours</h4>
						<div class="textwidget">
							<!-- <p> -->
								8 a.m. - 5 p.m. PST, USA
							<!-- </p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/news"> What's New </a></h4>
						<ul>
						<li>
							<a target="_blank" href = "https://twitter.com/CAWineClassics?lang=en">
							<img width="50" height="50" src="static/img/tweet.jpg" style="border:1px solid black; border-radius: 10px;">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.instagram.com/cawineclassics/">
								<img width="80" height="80" src="static/img/ig.jpg" >
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.facebook.com/CAWineClassics">
								<img width="50" height="50" src="static/img/facebookicon.png" style="margin-right: 10px">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.linkedin.com/company/california-wine-classics">
								<img width="50" height="50" src="static/img/linkedin.jpg" >
							</a>
						</li>
						</ul>
					</div>

				</div>
			</div>
		</footer>
		



</body>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>