{% load staticfiles %}
<html>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>California Wine</title>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >

<body class ="home-page">
			<!-- <header id="masthead" class="site-header" role="banner"> -->

		<div class = "container-fluid headerinder">
			<div class = "container1" id="mainmenu">
<!-- 			<div class="site-branding"> -->

				<div class = "row">
		  			<div class="navbar-header">
		  				<button type="button" class = "navbar-toggle collapsed" data-toggle="collapse"
		  				data-target=".navbar-collapse">
		  					<span class = "sr-only"> Toggle Navigation </span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>


		  				</button>
		  				<div class = "desktop-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  				</div>
		  			</div>
  			<!-- style="height:1px;" -->
		  			<div class="navbar-collapse collapse" >
		  				<ul class = "nav navbar-nav mainnav">
			  				<li><a href="/about">About Us</a></li>
							<li><a href="/winery">Winery</a></li>
			  				<li><a href="/still_wine">Still Wines</a></li>
			  				<li><a href="/sparkling">Sparkling Program</a></li>
			  				<li><a href="/contact">Contact Us</a></li>
			  				<li><a href="/news">What's New</a></li>
			  				<li><a href="/purchase">Buy Our Wine</a></li>

		  				</ul>

		  			</div>

		  			<div class = "mobile-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  			</div>

  				</div>



			</div>

		<div class = "brandscouter" >
				<div class = "wrapper">
					<div class = "row">
						<div class = "col-md-12">
						    <ul class = "col-md-1 col-xs-6"> 
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/business"> Our Business </a> </li> 
								<li> <a href="/team">Our Team</a> </li>
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/winery"> Our Winery </a> </li>
								<li> <a href="/ice_house"> About the Ice House </a></li>

							</ul>
							<ul class = "col-md-3 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/sparkling"> Our Sparkling Wine </a> </li>
								<li> <a href="/champenoise"> Méthode Champenoise </a></li>
								<li> <a href="/serendipity"> Serendipity Sparkling Wine </a></li>
							</ul>

							<ul class = "col-md-4 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/news"> What's New </a> </li>
								<li> <a href="/event"> Event Calendar </a></li>
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/still_wine"> Still Wines </a> </li>
								<li> <a href="/sparkling"> Sparkling Wines </a></li>
							</ul>


						</div>

					</div>

				</div>
		</div>



		</div>

		<div id = "page" class = "site">

			<h2>Interested in learning more about California Wine Classics? We’ll get back to you in response to your inquiry. Thank you for reaching out!</div>

		{% block content %}
		    <form method="POST" class="usrform">{% csrf_token %}
		            {% for field in form %}
			            {% if field.name == 'name' %}
			            <label> Name: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'last_name' %}
			            <label> Last Name: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'email' %}
			            <label> Email: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'phone' %}
			            <label> Phone Number: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'address1' %}
			            <label> Address 1: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'address2' %}
			            <label> Address 2: </label><br>
			            {{field}} <br>
			            {% elif field.name == 'state' %}
			            <label> State: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'zipcode' %}
			            <label> Zipcode: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'country' %}
			            <label> Country: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'single' %}
			            <label> I am a(n): <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'looking' %}
			            <label> Tell us a little more about what you're looking for: </label><br>
			            {{field}} <br>
			            {% elif field.name == 'hear' %}
			            <label> How did you hear about us? <span style="color: red">*</span></label><br>
			            {{field}} <br>
			            {% else %}
			            <label> I am interested in : <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {%endif%}

    				{% endfor %}
    		        <button type="submit" class="save btn btn-default">Save</button>
		    </form>
		{% endblock %}


	<div class="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15413.020624260733!2d-121.28128738279095!3d38.136994452224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809aa01886eabfa9%3A0x7dca5d30ea19c158!2s27+Locust+St%2C+Lodi%2C+CA+95240!5e0!3m2!1sen!2sus!4v1507323106892&key=AIzaSyCTp6jz2iIz09wTWvMxMKTco5oEAdtWmn4" width="600" height="450" frameborder="0" style="border:0" ></iframe>

	</div>

</div>





</body>


<script src="static/render.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>