{% extends "main/home.html" %}

{% block content %}
			<div id = "summary">
			<h2>Interested in learning more about California Wine Classics? We’ll get back to you in response to your inquiry. Thank you for reaching out!</div>

		    <form method="POST" class="usrform" onsubmit ="return alert('Thank you! Someone will contact you within 2 business days. We look forward to working with you! -California Wine Classics Team'); " >{% csrf_token %}
		            {% for field in form %}
			            {% if field.name == 'name' %}
			            <label> Name: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'last_name' %}
			            <label> Last Name: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'email' %}
			            <label> Email: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'phone' %}
			            <label> Phone Number: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'address1' %}
			            <label> Address 1: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'address2' %}
			            <label> Address 2: </label><br>
			            {{field}} <br>
			            {% elif field.name == 'city' %}
			            <label> City: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'state' %}
			            <label> State: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'zipcode' %}
			            <label> Zipcode: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'country' %}
			            <label> Country: <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'single' %}
			            <label> I am a(n): <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {% elif field.name == 'looking' %}
			            <label> Tell us a little more about what you're looking for: </label><br>
			            {{field}} <br>
			            {% elif field.name == 'hear' %}
			            <label> How did you hear about us? <span style="color: red">*</span></label><br>
			            {{field}} <br>
			            {% else %}
			            <label> I am interested in : <span style="color: red">*</span> </label><br>
			            {{field}} <br>
			            {%endif%}

    				{% endfor %}
    		        <button type="submit" class="save btn btn-default">Save</button>
		    </form>
		</div>
		{% endblock %}


			{%block footer%}
						<div id="tertiary" class = "widget-area widget-area--footer" role="complementary" itemscope>
				<div class="block-grid block-grid-3">
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href = "/contact"> Contact Info </a> </h4>
						<div class="textwidget">
				<!-- 			<p> -->
								Phone: +1 (209) 727-0396<br>
								Fax: +1 (209) 727-0391<br>
								<a href = "https://californiawineclassics.com/team"> Robert Indelicato </a> <br>
								<a href="mailto:robert@californiawineclassics.com">robert@californiawineclassics.com </a><br>
								<a href = "https://californiawineclassics.com/leslie"> Leslie Bloudoff </a><br>
								<a href="mailto:leslie@californiawineclassics.com">leslie@californiawineclassics.com </a><br>

<!-- 							</p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="https://californiawineclassics.com/winery" > Location </a> </h4>
						<div class="textwidget">
							<!-- <p> -->
								<h4 class="widget-title"> Address</h4>
								27 Locust Street  <br>
								Lodi, CA 95240<br>
								USA<br>
								<h4 class="widget-title"> Mailing Address</h4>
								PO Box 1088<br>
								Lodi, CA 95241<br>

							<!-- </p> -->
						</div>
						<h4 class="widget-title"> Hours</h4>
						<div class="textwidget">
							<!-- <p> -->
								8 a.m. - 5 p.m. PST, USA
							<!-- </p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="https://californiawineclassics.com/news"> What's New </a></h4>
						<ul>
						<li>
							<a target="_blank" href = "https://twitter.com/CAWineClassics?lang=en">
							<img width="50" height="50" src="static/img/tweet.jpg" style="border:1px solid black; border-radius: 10px;">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.instagram.com/cawineclassics/">
								<img width="80" height="80" src="static/img/ig.jpg" >
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.facebook.com/CAWineClassics">
								<img width="50" height="50" src="static/img/facebookicon.png" style="margin-right: 10px">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.linkedin.com/company/california-wine-classics">
								<img width="50" height="50" src="static/img/linkedin.jpg" >
							</a>
						</li>
						</ul>
					</div>

				</div>


			</div>
					<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15413.020624260733!2d-121.28128738279095!3d38.136994452224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809aa01886eabfa9%3A0x7dca5d30ea19c158!2s27+Locust+St%2C+Lodi%2C+CA+95240!5e0!3m2!1sen!2sus!4v1507323106892&key=AIzaSyCTp6jz2iIz09wTWvMxMKTco5oEAdtWmn4" width="600" height="450" frameborder="0" style="border:0" ></iframe>

		</div>


			{%endblock%}