{% load staticfiles %}
<html>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {% block title %}California Wine {% endblock title %}</title>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >

<body class ="home-page">
			<!-- <header id="masthead" class="site-header" role="banner"> -->

		<div class = "container-fluid headerinder">
			<div class = "container1" id="mainmenu">
<!-- 			<div class="site-branding"> -->

				<div class = "row">
		  			<div class="navbar-header">
		  				<button type="button" class = "navbar-toggle collapsed" data-toggle="collapse"
		  				data-target=".navbar-collapse">
		  					<span class = "sr-only"> Toggle Navigation </span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>


		  				</button>
		  				<div class = "desktop-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  				</div>
		  			</div>
  			<!-- style="height:1px;" -->
		  			<div class="navbar-collapse collapse" >
		  				<ul class = "nav navbar-nav mainnav">
			  				<li><a href="https://californiawineclassics.com/about">About Us</a></li>
							<li><a href="https://californiawineclassics.com/winery">Winery</a></li>
			  				<li><a href="/still_wine">Still Wines</a></li>
			  				<li><a href="https://californiawineclassics.com/sparkling">Sparkling Program</a></li>
			  				<li><a href="/contact">Contact Us</a></li>
			  				<li><a href="https://californiawineclassics.com/news">What's New</a></li>
			  				<li><a href="https://californiawineclassics.com/purchase">Buy Our Wine</a></li>

		  				</ul>

		  			</div>

		  			<div class = "mobile-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  			</div>

  				</div>



			</div>

		<div class = "brandscouter" >
				<div class = "wrapper">
					<div class = "row">
						<div class = "col-md-12">
						    <ul class = "col-md-1 col-xs-6"> 
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="https://californiawineclassics.com/business"> Our Business </a> </li> 
								<li> <a href="https://californiawineclassics.com/team">Our Team</a> </li>
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="https://californiawineclassics.com/winery"> Our Winery </a> </li>
								<li> <a href="https://californiawineclassics.com/ice_house"> About the Ice House </a></li>

							</ul>
							<ul class = "col-md-3 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="https://californiawineclassics.com/sparkling"> Our Sparkling Wine </a> </li>
								<li> <a href="https://californiawineclassics.com/champenoise"> Méthode Champenoise </a></li>
								<li> <a href="https://californiawineclassics.com/serendipity"> Serendipity Sparkling Wine </a></li>
							</ul>

							<ul class = "col-md-4 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="https://californiawineclassics.com/news"> What's New </a> </li>
								<li> <a href="https://californiawineclassics.com/event"> Event Calendar </a></li>
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="https://californiawineclassics.com/still_wine"> Still Wines </a> </li>
								<li> <a href="https://californiawineclassics.com/sparkling"> Sparkling Wines </a></li>
							</ul>


						</div>

					</div>

				</div>
		</div>



		</div>

	<!-- </header> -->

	<div id = "page" class = "site">

		<div id="content" class="site-content">
			{% block content %}

				<div class="slideshow-container">
				  <div class="mySlides fade">
				<!--     <div class="numbertext">1 / 3</div> -->
				    <img src="/static/img/IMG_8330.jpg" style="width:100%">
				    <div class="text"><a href="/business" style="text-decoration:none;"> Our Business </a></div>
				  </div>

				  <div class="mySlides fade">
				<!--     <div class="numbertext">2 / 3</div> -->
					    <img src="/static/img/IMG_2429.jpg" style="width:100%">
					    <div class="text"><a href="/winery" style="text-decoration:none;"> Our Winery </a> </div>
				  	</div>

				  	<div class="mySlides fade">
				<!--     <div class="numbertext">3 / 3</div> -->
					    <img src="/static/img/IMG_8271.jpg" style="width:100%">
					    <div class="text"><a href="/contact" style="text-decoration:none;"> Contact Us</a> </div>
				  	</div>
				    <div class="mySlides fade">
				<!--     <div class="numbertext">3 / 3</div> -->
					    <img src="/static/img/IMG_8347.jpg" style="width:100%">
					    <div class="text"><a href="/sparkling" style="text-decoration:none;"> Our Sparkling Wine </a></div>
				  	</div>
				    <div class="mySlides fade">
					<!--     <div class="numbertext">3 / 3</div> -->
					    <img src="/static/img/IMG_7227.jpg" style="width:100%">
					    <div class="text"><a href="/team" style="text-decoration:none;">Our Team</a></div>
				  	</div>
				  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				  <a class="next" onclick="plusSlides(1)">&#10095;</a>
				</div>
				<br>

				<div style="text-align:center">
				  <span class="dot" onclick="currentSlide(1)"></span> 
				  <span class="dot" onclick="currentSlide(2)"></span> 
				  <span class="dot" onclick="currentSlide(3)"></span> 
				  <span class="dot" onclick="currentSlide(4)"></span> 
				  <span class="dot" onclick="currentSlide(5)"></span> 
				</div>
			</div>

		</div>

		{% endblock %}
	</div>
		<footer id="footer" class="site-footer" role="contentinfo" itemscope>
			{% block footer %}
			<section id="featured-content" class="featured-content hero-content">

						<div class="block-grid block-grid-3">
							<h2 class = "screen-reader-text"> Featured Content </h2>

								<div id="featured-post-1" class = "featured-post block-grid-item has-post-thumbnail" style = "background-image: url(/static/img/IMG_2429.jpg)">
									<a class ="featured-image">
										<img src="/static/img/IMG_2429.jpg"
										  alt= "Our Facility" itemprop="image" scale="0">

									</a>
									<h3 class="block-grid-item-title" itemprop="headline">
										<!-- 2429 -->
										<a href = "/winery"> Winery </a>
									</h3>

								</div>

								<div id="featured-post-1" class = "featured-post block-grid-item has-post-thumbnail" style = "background-image: url(/static/img/IMG_2459.jpg)">
									<a class ="featured-image">
										<img src="/static/img/IMG_2459.jpg"
										  alt= "Our Products" itemprop="image" scale="0">

									</a>
									<h3 class="block-grid-item-title" itemprop="headline">
										<!-- 2459 -->
										<a href = "/still_wine"> Wine</a>
									</h3>

								</div>

								<div id="featured-post-1" class = "featured-post block-grid-item has-post-thumbnail" style = "background-image: url(/static/img/IMG_8271.jpg)">
									<a class ="featured-image">
										<img src="/static/img/IMG_8271.jpg"
										  alt= "Contact Us" itemprop="image" scale="0">

									</a>
									<h3 class="block-grid-item-title" itemprop="headline">
										<!-- 8271 -->
										 <a href="/contact"> Contact Us</a> 
									</h3>

								</div>
						</div>

			</section>


			<div id="tertiary" class = "widget-area widget-area--footer" role="complementary" itemscope>
				<div class="block-grid block-grid-3">
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href = "/contact"> Contact Info </a> </h4>
						<div class="textwidget">
				<!-- 			<p> -->
								Phone: +1 (209) 727-0396<br>
								Fax: +1 (209) 727-0391<br>
								<a href = "/team"> Robert Indelicato </a> <br>
								<a href="mailto:robert@californiawineclassics.com">robert@californiawineclassics.com </a><br>
								<a href = "/leslie"> Leslie Bloudoff </a><br>
								<a href="mailto:leslie@californiawineclassics.com">leslie@californiawineclassics.com </a><br>

<!-- 							</p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/winery" > Location </a> </h4>
						<div class="textwidget">
							<!-- <p> -->
								<h4 class="widget-title"> Address</h4>
								27 Locust Street  <br>
								Lodi, CA 95240<br>
								USA<br>
								<h4 class="widget-title"> Mailing Address</h4>
								PO Box 1088<br>
								Lodi, CA 95241<br>

							<!-- </p> -->
						</div>
						<h4 class="widget-title"> Hours</h4>
						<div class="textwidget">
							<!-- <p> -->
								8 a.m. - 5 p.m. PST, USA
							<!-- </p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/news"> What's New </a></h4>
						<ul>
						<li>
							<a target="_blank" href = "https://twitter.com/CAWineClassics?lang=en">
							<img width="50" height="50" src="static/img/tweet.jpg" style="border:1px solid black; border-radius: 10px;">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.instagram.com/cawineclassics/">
								<img width="80" height="80" src="static/img/ig.jpg" >
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.facebook.com/CAWineClassics">
								<img width="50" height="50" src="static/img/facebookicon.png" style="margin-right: 10px">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.linkedin.com/company/california-wine-classics">
								<img width="50" height="50" src="static/img/linkedin.jpg" >
							</a>
						</li>
						</ul>
					</div>

				</div>


			</div>
					<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15413.020624260733!2d-121.28128738279095!3d38.136994452224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809aa01886eabfa9%3A0x7dca5d30ea19c158!2s27+Locust+St%2C+Lodi%2C+CA+95240!5e0!3m2!1sen!2sus!4v1507323106892&key=AIzaSyCTp6jz2iIz09wTWvMxMKTco5oEAdtWmn4" width="600" height="450" frameborder="0" style="border:0" ></iframe>

		</div>
			{%endblock%}
		</footer>

	</div>



</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
{% block script %}

// var main = function() {
// console.log("in here");
// var paused = false
// 	setInterval(function() {
// 		if (paused === false) { 
// 			$('#slideshow > div:first')
// 			.fadeOut(900)
// 			.next()
// 			.fadeIn(900)
// 			.end()
// 			.appendTo('#slideshow');
// 		};
// 	},  5000);

// };

// $(document).ready(main);

var slideIndex = 1;
showSlides(slideIndex);
// var slideIndex = 0;
// showSlides();

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
  // setTimeout(autoSlides, 5000); // Change image every 5 seconds
}


// function autoSlides() {
//     var i;
//     var slides = document.getElementsByClassName("mySlides");
//     for (i = 0; i < slides.length; i++) {
//         slides[i].style.display = "none"; 
//     }
//     slideIndex++;
//     if (slideIndex > slides.length) {slideIndex = 1} 
//     slides[slideIndex-1].style.display = "block"; 
//     setTimeout(autoSlides, 5000); // Change image every 5 seconds
// }

function viewMenu()
{
    document.getElementById("dropdown").classList.toggle("show");
    console.log("in view Menu");

}

window.onclick = function(event) {
  if (!event.target.matches('#mobileMenu')) {

    var dropdowns = document.getElementsByClassName("sub-nav");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
{%endblock%}
</script>