{% extends "main/home.html" %}

{% block content %}
	<div id = "summary">
		<p>
			Thank you for your interest in our products.<br>
			Please share some details so we can send wine to your table!<br>
		</p>

		<form name = "usrform" method="POST">{% csrf_token %}
			<label> Name: </label> <br>
		    <input placeholder="First " type="text" name="first" > <input placeholder="Last " type="text" name="last" ><br>
		    <label> Mailing Address: </label> <br>
		    <input placeholder="Address 1" type="text" name="address1" >  <br>
		    <input placeholder="Address 2" type="text" name="address2" >  <br>
		    <input placeholder="Country" type="text" name="country" > <input placeholder="State" type="text" name="state" > <input placeholder="ZipCode" type="text" name="zip" > <br>    
		    <label> Email: </label><br>
		    <input placeholder="Email" type="text" name="email" ><br>
		    <label> Phone: </label><br>
		    <input placeholder="Phone" type="text" name="phone" ><br>

	  		<label> Tell us a little more about what you're looking for: </label><br>
		    <textarea placeholder="Please limit to 500 characters..." rows="4" cols="50" maxlength="500" name="usrform"  style="border:solid 1px black;"></textarea><br>

		   	<label>You've requested:</label>
		   	<table id = "requested">
						<tr>
							<td>Request</td>
							<td>Variety</td>
							<td>AVA</td>
							<td>Inventory</td>
							<td>Units</td>
							<td>Lot</td>
							<td>Comments</td>

						</tr>

					{% for wine in requestedwine %}
						<tr>
						    <td><input id= {{ wine.lot }} name="check" type="checkbox" 
						    	value= {{wine.lot}} ></td>
						    <td>{{ wine.variety}}</td>
						    <td>{{ wine.ava }}</td>
						    <td>{{ wine.current }}</td>
						    <td>{{ wine.units  }}</td>
						    <td>{{ wine.lot }}</td>
						    <td>{{ wine.comments }}</td>
						</tr>
					{% endfor %}

		   	</table>

		    <input type="submit">
		</form>

	</div>
{% endblock %}
			{%block footer%}
						<div id="tertiary" class = "widget-area widget-area--footer" role="complementary" itemscope>
				<div class="block-grid block-grid-3">
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href = "/contact"> Contact Info </a> </h4>
						<div class="textwidget">
				<!-- 			<p> -->
								Phone: +1 (209) 727-0396<br>
								Fax: +1 (209) 727-0391<br>
								<a href = "/team"> Robert Indelicato </a> <br>
								<a href="mailto:robert@californiawineclassics.com">robert@californiawineclassics.com </a><br>
								<a href = "/leslie"> Leslie Bloudoff </a><br>
								<a href="mailto:leslie@californiawineclassics.com">leslie@californiawineclassics.com </a><br>

<!-- 							</p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/winery" > Location </a> </h4>
						<div class="textwidget">
							<!-- <p> -->
								<h4 class="widget-title"> Address</h4>
								27 Locust Street  <br>
								Lodi, CA 95240<br>
								USA<br>
								<h4 class="widget-title"> Mailing Address</h4>
								PO Box 1088<br>
								Lodi, CA 95241<br>

							<!-- </p> -->
						</div>
						<h4 class="widget-title"> Hours</h4>
						<div class="textwidget">
							<!-- <p> -->
								8 a.m. - 5 p.m. PST, USA
							<!-- </p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/news"> What's New </a></h4>
						<ul>
						<li>
							<a target="_blank" href = "https://twitter.com/CAWineClassics?lang=en">
							<img width="50" height="50" src="static/img/tweet.jpg" style="border:1px solid black; border-radius: 10px;">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.instagram.com/cawineclassics/">
								<img width="80" height="80" src="static/img/ig.jpg" >
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.facebook.com/CAWineClassics">
								<img width="50" height="50" src="static/img/facebookicon.png" style="margin-right: 10px">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.linkedin.com/company/california-wine-classics">
								<img width="50" height="50" src="static/img/linkedin.jpg" >
							</a>
						</li>
						</ul>
					</div>

				</div>


			</div>
					<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15413.020624260733!2d-121.28128738279095!3d38.136994452224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809aa01886eabfa9%3A0x7dca5d30ea19c158!2s27+Locust+St%2C+Lodi%2C+CA+95240!5e0!3m2!1sen!2sus!4v1507323106892&key=AIzaSyCTp6jz2iIz09wTWvMxMKTco5oEAdtWmn4" width="600" height="450" frameborder="0" style="border:0" ></iframe>

		</div>


			{%endblock%}