{% extends "main/home.html" %}

{% block content %}
			<div class = "row pagesubnav">
				<div class = "col-md-12">
					<ul>
								<li> <a href="/sparkling"> Our Sparkling Wine </a> </li>
								<li> <a href="/champenoise"> Méthode Champenoise </a></li>
								<li> <a href="/serendipity"> Serendipity Sparkling Wine </a></li>

					</ul>

				</div>

			</div>
		<!-- </div> -->
<!-- 		<div id="content" class="site-content"> -->
			<div id = "summary">
				<img src="/static/img/IMG_2430.jpg" width="800px" height="600px" alt= "Our Winery" itemprop="image" scale="1">
				
				<h1>Champagne or Sparkling Wine?</h1>

				Champagne and sparkling wines vary not only in terms of quality and style, but also on the basis of where they’re produced and by what method. Quite simply, all champagne is sparkling wine, but only the sparkling wine produced in the Champagne region of France can legally be referred to as champagne.  This means that less than one-twelfth of the sparking wine produced in the world is actually “Champagne.”
				Sparkling wine produced in the United States and Australia is therefore labeled “Sparkling Wine,” while the sparkling wines from Spain are called “Cava,” and the sparkling from Italy is known as “Prosecco and/or Asti.” Finally, the sparkling wine produced in France outside of the Champagne region is referred to as “Crémant.”

				<h1>What makes it Sparkling Wine?</h1>

				Ahh, it’s the bubbles, or the correct terminology is “carbon dioxide.”  Sparkling Wine is arguably the most technically produced wine in the world.  Throughout the production process, the winemaker has to make a great number of decisions, each of which affects the outcome of that particular blend or ultimately, the “taste.”  What makes it so technical is the fact that it must undergo not simply one fermentation process, but two!

				The first occurs when the ripe grapes, full of natural sugar and wild yeasts are crushed, releasing both sugar and yeast, thus beginning primary fermentation.  Alcohol is produced during this first fermentation process, which is deemed “still wine.”  The bubbles are created during the secondary fermentation process, which begins in the bottle when the yeast breaks down the sugar, converting it to carbon dioxide.  The length of time that the yeast remains in the bottle helps to determine the wines’ flavors as well as the quality of carbonation.  *The smaller the bubbles, the better the fizz and smaller bubbles are an indicator of quality.

				<h1>Types of Sparkling Wine</h1>

				There are various stories regarding how “sparking wine” was discovered.  One version relates that the bubbles were accidentally discovered as the result of secondary fermentation occurring within the bottles of still wine.  Prior to the advent of refrigeration and heating, bottled wine would get cold over the winter months, then in the spring, the wine warmed up and began fermenting once again.  This second fermentation process released carbon dioxide, hence bubbles.

				 But since the gas had nowhere to go inside the sealed bottles, this accidental effervescence was not initially welcome.  Bottles exploded and many times, unsuspecting drinkers never had the chance to savor the bubbly concoction.  In the end, heavier, stronger bottles were devised to hold this sprightly new style of wine.

				<h1>Sweetness Levels</h1>
				<h2>Extra Brut: </h2>
				This is the driest sparkling wine.  In this style, the yeast has eaten all of the sugar, so that there is a complete absence of sweetness in the wine.

				<h2>Brut: </h2>
				The wine is dry, but there is a hint of sweetness.  The winemaker stops the fermentation process before the yeast can consume all of the sugar, leaving a small amount behind in the wine.

				<h2>Extra Dry: </h2>
				This wine retains a slight sweetness.  It is not sugary sweet, but it is noticeably sweeter than Brut wines.

				<h2>Demi-Sec:</h2>
				 This is a sweet sparkling wine.  One would usually drink a Demi-Sec with desert.

				<h1>The Bubbles</h1>

				When a bottle of sparkling wine is opened and poured into a glass, the carbon dioxide is released and the wine becomes “sparkling.”  The average bottle of sparkling wine contains enough carbon dioxide to potentially produce 49 million bubbles.  The bubbles form at 20 micrometers in diameter and expand as they gain buoyancy and rise to the surface.  When they reach the surface, they are approximately 1 millimeter in size.  The average size and consistency of the bubbles can vary depending upon the quality of the wine and the type of wine glass used.  

				The fewer impurities in the still wine and the cooler the cellar in which this secondary fermentation occurs, the smaller the bubbles. Tiny bubbles are easy to discern in the mouth as they produce a finer bead than the larger bubbles produced by coarse juice, fast fermentation or carbonation.  And those tiny bubbles make better sparkling wine because there are more bubbles available to release the flavor and that heavenly aroma.  Bubbles pick up both flavor and aroma molecules during their ascent, pulling them along until they literally explore onto the surface of the liquid, creating the signature sensory experience associated with a fine sparkling wine.

				<h1>And the Taste…</h1>
				Dom Perignon’s famous quote is fairly succinct: “Come quickly, I am tasting stars!”  Depending upon the grapes used and the method of production, you could smell a hint of spiced apple, ripe pear, applesauce, or even freshly baked bread.  But the taste is subjective and again, you could taste apple, pear, citrus, strawberry, cream, vanilla or even a nutty flavor.  A good sparkling wine has a taste like no other and it’s meant to be shared, savored and appreciated.  More importantly, it’s a wine that can be and should be, opened and enjoyed, just because. 

			</div>
<!-- 
		</div> -->
{% endblock %}
			{%block footer%}
						<div id="tertiary" class = "widget-area widget-area--footer" role="complementary" itemscope>
				<div class="block-grid block-grid-3">
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href = "/contact"> Contact Info </a> </h4>
						<div class="textwidget">
				<!-- 			<p> -->
								Phone: +1 (209) 727-0396<br>
								Fax: +1 (209) 727-0391<br>
								<a href = "/team"> Robert Indelicato </a> <br>
								<a href="mailto:robert@californiawineclassics.com">robert@californiawineclassics.com </a><br>
								<a href = "/leslie"> Leslie Bloudoff </a><br>
								<a href="mailto:leslie@californiawineclassics.com">leslie@californiawineclassics.com </a><br>

<!-- 							</p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/winery" > Location </a> </h4>
						<div class="textwidget">
							<!-- <p> -->
								<h4 class="widget-title"> Address</h4>
								27 Locust Street  <br>
								Lodi, CA 95240<br>
								USA<br>
								<h4 class="widget-title"> Mailing Address</h4>
								PO Box 1088<br>
								Lodi, CA 95241<br>

							<!-- </p> -->
						</div>
						<h4 class="widget-title"> Hours</h4>
						<div class="textwidget">
							<!-- <p> -->
								8 a.m. - 5 p.m. PST, USA
							<!-- </p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/news"> What's New </a></h4>
						<ul>
						<li>
							<a target="_blank" href = "https://twitter.com/CAWineClassics?lang=en">
							<img width="50" height="50" src="static/img/tweet.jpg" style="border:1px solid black; border-radius: 10px;">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.instagram.com/cawineclassics/">
								<img width="80" height="80" src="static/img/ig.jpg" >
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.facebook.com/CAWineClassics">
								<img width="50" height="50" src="static/img/facebookicon.png" style="margin-right: 10px">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.linkedin.com/company/california-wine-classics">
								<img width="50" height="50" src="static/img/linkedin.jpg" >
							</a>
						</li>
						</ul>
					</div>

				</div>


			</div>
					<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15413.020624260733!2d-121.28128738279095!3d38.136994452224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809aa01886eabfa9%3A0x7dca5d30ea19c158!2s27+Locust+St%2C+Lodi%2C+CA+95240!5e0!3m2!1sen!2sus!4v1507323106892&key=AIzaSyCTp6jz2iIz09wTWvMxMKTco5oEAdtWmn4" width="600" height="450" frameborder="0" style="border:0" ></iframe>

		</div>


			{%endblock%}