<!DOCTYPE html>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>California Wine</title>

    <!-- Custom Fonts -->
    <link href="/static/style.css" rel="stylesheet" type="text/css">

<body class ="home-page">

	<div id ="summary">

		<div id="splash-flex">

			<div>
				<a href = "/home"><img width="500" height="500" src="/static/img/CWC_Logo_Color.png"></a>
			</div>

			<div>
					<h1 align="center"> Hello! </h1>
					<h2 align="center"> 	By entering the California Wine Classics website you acknowledge that you are of legal drinking age in the country where this site is accessed </h2>
			</div>

				<input class="btn" type="submit" onclick="window.location='/home';"> 

			<div class="widget-title"> California Wine Classics, Lodi, CA 2017| All rights reserved</div>


		</div>

	</div>

</body>
