{% load staticfiles %}
<html>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>California Wine</title>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >

<body class ="home-page">
			<!-- <header id="masthead" class="site-header" role="banner"> -->

		<div class = "container-fluid headerinder">
			<div class = "container1" id="mainmenu">
<!-- 			<div class="site-branding"> -->

				<div class = "row">
		  			<div class="navbar-header">
		  				<button type="button" class = "navbar-toggle collapsed" data-toggle="collapse"
		  				data-target=".navbar-collapse">
		  					<span class = "sr-only"> Toggle Navigation </span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>


		  				</button>
		  				<div class = "desktop-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  				</div>
		  			</div>
  			<!-- style="height:1px;" -->
		  			<div class="navbar-collapse collapse" >
		  				<ul class = "nav navbar-nav mainnav">
			  				<li><a href="/business">About Us</a></li>
							<li><a href="/winery">Winery</a></li>
			  				<li><a href="/still_wine">Still Wines</a></li>
			  				<li><a href="/sparkling">Sparkling Program</a></li>
			  				<li><a href="/contact">Contact Us</a></li>
			  				<li><a href="/news">What's New</a></li>
			  				<li><a href="/purchase">Buy Our Wine</a></li>

		  				</ul>

		  			</div>

		  			<div class = "mobile-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  			</div>

  				</div>



			</div>

		<div class = "brandscouter" >
				<div class = "wrapper">
					<div class = "row">
						<div class = "col-md-12">
						    <ul class = "col-md-1 col-xs-6"> 
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/business"> Our Business </a> </li> 
								<li> <a href="/team">Our Team</a> </li>
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/winery"> Our Winery </a> </li>
								<li> <a href="/ice_house"> About the Ice House </a></li>

							</ul>
							<ul class = "col-md-3 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/sparkling"> Our Sparkling Wine </a> </li>
								<li> <a href="/champenoise"> Méthode Champenoise </a></li>
								<li> <a href="/serendipity"> Serendipity Sparkling Wine </a></li>
							</ul>

							<ul class = "col-md-4 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/news"> What's New </a> </li>
								<li> <a href="/event"> Event Calendar </a></li>
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/still_wine"> Still Wines </a> </li>
								<li> <a href="/sparkling"> Sparkling Wines </a></li>
							</ul>


						</div>

					</div>

				</div>
		</div>



		</div>
<div id = "page" class = "site">

<div id = "content" class="site-content">
	<div class = "row pagesubnav">
		<div class = "col-md-12">
				<ul>
					<li > <a href = "/team">Our Team</a> </li>
					<li > <a href = "/business"> Our Business </a> </li>

				</ul>

		</div>

	</div>
	<div id = "summary">

				<div id = "column">

						<div id="item1">
								<img src="/static/img/IMG_8285.JPG" class="rotate270"  >
						</div>
						<div id = "column">
						<div><h2> Our Team </h2></div>

						<div id = "row">
						<div class = "col-md-12">
							<div class = "team">
									<ul class = "col-md-2 col-xs-6"> 
										<li> <a href="/team"> Robert Indelicato </a> </li> 
										<li> <a href="/leslie">Leslie Bloudoff</a> </li>
										<li> <a href="/katie">Katie Bloudoff-Indelicato</a> </li>
									</ul>
							</div>
						</div>
						<div id = "team-text">
						<h1>Robert Indelicato</h1>
						<p>
							Throughout his childhood, Robert spent summers and his hours after school helping his grandfather in the vineyard, his uncle with the tank and barrel room, and his father with the forklift. After earning his enology degree, Robert produced and sold wine through his family's winery, but true to his entrepreneurial spirit, he sought to operate his own business--California Wine Classics--initiated in 2006.<br>

							Today, Robert applies his extensive experience in viticulture, winemaking and both national and international distribution with every client. Having worked with and served his customers for over 30 years, his true skill lies in his ability to match each client's need with a great wine and fulfill orders within often tight deadlines. Be it a small lot order, a customized blend with a quick turnaround, or a source of sought after California wine for year-after-year programs, Robert works with each customer to develop solutions to fit their needs.<br>

							Robert also enjoys watching his beloved SF Giants, sharing life advice with his kids, checking on the grapevines, enjoying a glass of wine with a good book. After so many years, wine is truly a part of his blood! Ever the winemaker, Robert often sets up rows of glasses for family taste tests. Having produced an exquisite sparkling wine, Robert continually searches for improvement on both his still and sparking wine products.<br>

							Contact Robert at robert@californiawineclassics.com or +1 (209) 727-0396.
						</p>
						</div>
					</div>
					</div>
			</div>

</div>
	<footer id="footer" class="site-footer" role="contentinfo" itemscope>
			<div id="tertiary" class = "widget-area widget-area--footer" role="complementary" itemscope>
				<div class="block-grid block-grid-3">
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href = "/contact"> Contact Info </a> </h4>
						<div class="textwidget">
				<!-- 			<p> -->
								Phone: +1 (209) 727-0396<br>
								Fax: +1 (209) 727-0391<br>
								<a href = "/team"> Robert Indelicato </a> <br>
								<a href="mailto:robert@californiawineclassics.com">robert@californiawineclassics.com </a><br>
								<a href = "/leslie"> Leslie Bloudoff </a><br>
								<a href="mailto:leslie@californiawineclassics.com">leslie@californiawineclassics.com </a><br>

<!-- 							</p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/winery" > Location </a> </h4>
						<div class="textwidget">
							<!-- <p> -->
								27 Locust Street  <br>
								Lodi, CA 95240<br>
								USA<br>
							<!-- </p> -->
						</div>
						<h4 class="widget-title"> Hours</h4>
						<div class="textwidget">
							<!-- <p> -->
								8 a.m. - 5 p.m. PST, USA
							<!-- </p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/news"> What's New </a></h4>
						<ul>
						<li>
							<a target="_blank" href = "https://twitter.com/CAWineClassics?lang=en">
							<img width="50" height="50" src="static/img/tweet.jpg" style="border:1px solid black; border-radius: 10px;">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.instagram.com/cawineclassics/">
								<img width="80" height="80" src="static/img/ig.jpg" >
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.facebook.com/CAWineClassics">
								<img width="50" height="50" src="static/img/facebookicon.png" style="margin-right: 10px">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.linkedin.com/company/california-wine-classics">
								<img width="50" height="50" src="static/img/linkedin.jpg" >
							</a>
						</li>
						</ul>
					</div>

				</div>
			</div>
		</footer>


</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>