<!DOCTYPE html>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>California Wine</title>

    <!-- Custom Fonts -->
    <link href="/static/style.css" rel="stylesheet" type="text/css">

<body class ="home-page">
			<!-- <header id="masthead" class="site-header" role="banner"> -->

		<div class = "container-fluid headerinder">
			<div class = "container1" id="mainmenu">
<!-- 			<div class="site-branding"> -->

				<div class = "row">
		  			<div class="navbar-header">
		  				<button type="button" class = "navbar-toggle collapsed" data-toggle="collapse"
		  				data-target=".navbar-collapse">
		  					<span class = "sr-only"> Toggle Navigation </span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>
		  					<span class = "icon-bar"></span>


		  				</button>
		  				<div class = "desktop-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  				</div>
		  			</div>
  			<!-- style="height:1px;" -->
		  			<div class="navbar-collapse collapse" >
		  				<ul class = "nav navbar-nav mainnav">
			  				<li><a href="/about">About Us</a></li>
							<li><a href="/winery">Winery</a></li>
			  				<li><a href="/still_wine">Still Wines</a></li>
			  				<li><a href="/sparkling">Sparkling Program</a></li>
			  				<li><a href="/contact">Contact Us</a></li>
			  				<li><a href="/news">What's New</a></li>
			  				<li><a href="/purchase">Buy Our Wine</a></li>

		  				</ul>

		  			</div>

		  			<div class = "mobile-pic">
			  				<a href ="/home" accesskey="h">
			  					<img width="300" height="300" src="/static/img/CWC_Logo_Color.png">
			  				</a>
		  			</div>

  				</div>



			</div>

		<div class = "brandscouter" >
				<div class = "wrapper">
					<div class = "row">
						<div class = "col-md-12">
						    <ul class = "col-md-1 col-xs-6"> 
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/business"> Our Business </a> </li> 
								<li> <a href="/team">Our Team</a> </li>
							</ul>
							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/winery"> Our Winery </a> </li>
								<li> <a href="/ice_house"> About the Ice House </a></li>

							</ul>
							<ul class = "col-md-3 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/sparkling"> Our Sparkling Wine </a> </li>
								<li> <a href="/champenoise"> Méthode Champenoise </a></li>
								<li> <a href="/serendipity"> Serendipity Sparkling Wine </a></li>
							</ul>

							<ul class = "col-md-4 col-xs-6"> 
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/news"> What's New </a> </li>
								<li> <a href="/event"> Event Calendar </a></li>
							</ul>

							<ul class = "col-md-2 col-xs-6"> 
								<li> <a href="/still_wine"> Still Wines </a> </li>
								<li> <a href="/sparkling"> Sparkling Wines </a></li>
							</ul>


						</div>

					</div>

				</div>
		</div>



		</div>
	<div id = "page" class = "site">

		<div class = "row pagesubnav">
			<div class = "col-md-12">
				<ul>
					<li> <a href="/winery"> Our Winery </a> </li>
					<li> <a href="/ice_house"> About the Ice House </a> </li>

				</ul>

			</div>

		</div>


		<div id = "content" class="site-content">
			<div id = "summary">
				<img src="/static/img/IMG_2430.jpg" width="800px" height="600px" alt= "Our Winery" itemprop="image" scale="1">

			<h1> Winery </h1>
			California Wine Classics works with local growers, wineries and distributors to bring you some of California’s extraordinary wine. To date, we’ve filled hundreds of shipping containers, bottled thousands of case goods and delivered the perfect product to meet the needs of your exclusive program. In our effort to continue to serve you, California Wine Classics opened our first winery tasting room in Lodi’s renovated Old Ice House. <br><br>
			Our location at 27 Locust Street in Lodi is more than four walls. It’s the result of years of planning and success! Our new facility allows us to meet the needs of our customers effectively and efficiently, and--meet you face-to-face.<br><br>
			<h2>Rapid response</h2>
			Customers come to us with a range of timelines in order to meet their own deadlines. While some may need one order per year, others require regular shipments over an extended period of time. Our facility provides us with the opportunity to expand both our bulk wine product line as well as our shiner case goods. This allows us to minimize the amount of time it takes to make just the right selection to meet your program’s needs.<br><br>
			<h2>Introducing Serendipity Sparkling Wine</h2>
			In 2014, California Wine Classics produced its first vintage of Serendipity Sparkling Wine, a Méthode Champenoise Blanc de Blanc. This first lot sourced Chardonnay grapes from our own Sierra Vista Vineyards in the rolling hills east of Lodi. After crushing, the juice was fermented and produced at a specialized facility in Lake County. Beginning with the 2017 harvest, California Wine Classics crushed the Chardonnay locally and are now fermenting and producing this vintage of Serendipity Sparkling Wine here in our Lodi facility. If you’re looking to add a sparkling wine product to your program, contact us or click here to learn more about our Sparkling Wine products.<br><br>
			<h2>We want to meet you!</h2>
			We take pride in customizing each order to fit the specific needs of our individual customers. So let us show you around! Come visit our tasting room, cold storage room or our jacketed fermentation tanks! Sit down for a glass of chilled sparkling wine, one of our red or white varietals, and relax. We invite you to visit us and savor some of our best California vintages.
			<p>
			<b>While Winery visits are by appointment only. Give us a call and then stop by for a visit at California Wine Classics in Lodi’s Old Ice House!</b>
			</p>
			</div>


		</div>


	<footer id="footer" class="site-footer" role="contentinfo" itemscope>
			<div id="tertiary" class = "widget-area widget-area--footer" role="complementary" itemscope>
				<div class="block-grid block-grid-3">
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href = "/contact"> Contact Info </a> </h4>
						<div class="textwidget">
				<!-- 			<p> -->
								Phone: +1 (209) 727-0396<br>
								Fax: +1 (209) 727-0391<br>
								<a href = "/team"> Robert Indelicato </a> <br>
								<a href="mailto:robert@californiawineclassics.com">robert@californiawineclassics.com </a><br>
								<a href = "/leslie"> Leslie Bloudoff </a><br>
								<a href="mailto:leslie@californiawineclassics.com">leslie@californiawineclassics.com </a><br>

<!-- 							</p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/winery" > Location </a> </h4>
						<div class="textwidget">
							<!-- <p> -->
								27 Locust Street  <br>
								Lodi, CA 95240<br>
								USA<br>
							<!-- </p> -->
						</div>
						<h4 class="widget-title"> Hours</h4>
						<div class="textwidget">
							<!-- <p> -->
								8 a.m. - 5 p.m. PST, USA
							<!-- </p> -->
						</div>
					</div>
					<div id ="text-3" class = "widget widget_text block-grid-item">
						<h4 class="widget-title"> <a href="/news"> What's New </a></h4>
						<ul>
						<li>
							<a target="_blank" href = "https://twitter.com/CAWineClassics?lang=en">
							<img width="50" height="50" src="static/img/tweet.jpg" style="border:1px solid black; border-radius: 10px;">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.instagram.com/cawineclassics/">
								<img width="80" height="80" src="static/img/ig.jpg" >
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.facebook.com/CAWineClassics">
								<img width="50" height="50" src="static/img/facebookicon.png" style="margin-right: 10px">
							</a>
						</li>
						<li>
							<a target="_blank" href = "https://www.linkedin.com/company/california-wine-classics">
								<img width="50" height="50" src="static/img/linkedin.jpg" >
							</a>
						</li>
						</ul>
					</div>

				</div>
			</div>
		</footer>
	</div>


	</body>
</div>


</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/render.js"></script>

</html>